* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  transition: .1s ease-in;
}

body::-webkit-scrollbar{
  display: none;
}
::-webkit-scrollbar{
  width: 10px;
}
::-webkit-scrollbar-track{
  background: white;
}
::-webkit-scrollbar-thumb{
  background: rgb(234, 88, 12);
}

th, td {
  padding: 8px 6px;
}